<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8" />
	<title>Create Blog</title>
	<div th:replace="~{/main/fragments :: head}"></div>
</head>
<body>
<div th:replace="~{/main/fragments :: header}"></div>
<div th:replace="~{/main/fragments :: right-sidebar}"></div>
<div th:replace="~{/main/fragments :: left-sidebar}"></div>

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="title">
							<h4>Create Blog</h4>
						</div>

						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/">Home</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									Create Blog
								</li>

							</ol>
						</nav>
					</div>
				</div>
			</div>
			<div class="blog-wrap">
				<div class="container pd-0">
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<div class="blog-detail card-box overflow-hidden mb-30">
								<div class="blog-img">
									<img src="../../vendors/images/img2.jpg" alt="" />
								</div>
								<div class="blog-caption">
									<form th:action="@{/blogs/create}" method="post">
										<div class="mb-3">
											<label for="title" class="form-label">Title</label>
											<input type="text" class="form-control" id="title" name="title">
										</div>

										<div class="mb-3">
											<label for="content" class="form-label">Content</label>
											<textarea class="form-control" id="content" name="content" rows="10"></textarea>
										</div>
										<div class="mt-3">
											<button type="submit" class="btn btn-primary">작성하기</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="card-box mb-30">
								<h5 class="pd-20 h5 mb-0">Categories</h5>
								<div class="list-group">
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">HTML<span class="badge badge-primary badge-pill">7</span></a>
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">Css<span class="badge badge-primary badge-pill">10</span></a>
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between active">Bootstrap<span class="badge badge-primary badge-pill">8</span></a>
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">jQuery<span class="badge badge-primary badge-pill">15</span></a>
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">Design<span class="badge badge-primary badge-pill">5</span></a>
								</div>
							</div>
							<div class="card-box mb-30">
								<h5 class="pd-20 h5 mb-0">Latest Post</h5>
								<div class="latest-post">
									<ul>
										<li>
											<h4>
												<a href="#">Ut enim ad minim veniam, quis nostrud exercitation ullamco</a>
											</h4>
											<span>HTML</span>
										</li>
										<li>
											<h4>
												<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
											</h4>
											<span>Css</span>
										</li>
										<li>
											<h4>
												<a href="#">Ut enim ad minim veniam, quis nostrud exercitation ullamco</a>
											</h4>
											<span>jQuery</span>
										</li>
										<li>
											<h4>
												<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
											</h4>
											<span>Bootstrap</span>
										</li>
										<li>
											<h4>
												<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
											</h4>
											<span>Design</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="card-box overflow-hidden">
								<h5 class="pd-20 h5 mb-0">Archives</h5>
								<div class="list-group">
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">January 2020</a>
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">February 2020</a>
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">March 2020</a>
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">April 2020</a>
									<a href="#" class="list-group-item d-flex align-items-center justify-content-between">May 2020</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
			DeskApp - Bootstrap 4 Admin Template By
			<a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
		</div>
	</div>
</div>
<!-- js -->
<script src="/static/vendors/scripts/core.js"></script>
<script src="/static/vendors/scripts/script.min.js"></script>
<script src="/static/vendors/scripts/process.js"></script>
<script src="/static/vendors/scripts/layout-settings.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0" style="display: none; visibility: hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
