<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8" />
	<title>BLOG LIST</title>
	<div th:replace="~{/main/fragments :: head}"></div>
</head>
<body>
<div th:replace="~{/main/fragments :: header}"></div>
<div th:replace="~{/main/fragments :: right-sidebar}"></div>
<div th:replace="~{/main/fragments :: left-sidebar}"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">
									<h4>Blog Detail</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="/">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Blog Detail
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<div class="blog-wrap">
						<div class="container pd-0">
							<div class="row">
								<div class="col-md-8 col-sm-12">
									<div class="blog-detail card-box overflow-hidden mb-30">
										<div class="blog-img">
											<img src="vendors/images/img2.jpg" alt="" />
										</div>
										<div class="blog-caption">
											<h4 class="mb-10">
												<span th:text="${blogDto.title}"></span>
											</h4>
											<p>
												작성자:
												<span th:text="${blogDto.getWriterName()}"></span>

											</p>
											<p>
												조회수:
												<span th:text="${blogDto.getViews()}"></span>

											</p>
											<p>
												<span th:text="${blogDto.content}"></span>

											</p>
<!--											<h5 class="mb-10">-->
<!--												Lorem ipsum dolor sit amet, consectetur.-->
<!--											</h5>-->
<!--											<p>-->
<!--												Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--												elit, sed do eiusmod tempor incididunt ut labore et-->
<!--												dolore magna aliqua. Ut enim ad minim veniam, quis-->
<!--												nostrud exercitation ullamco laboris nisi ut aliquip ex-->
<!--												ea commodo consequat. Duis aute irure dolor in-->
<!--												reprehenderit in voluptate velit esse cillum dolore eu-->
<!--												fugiat nulla pariatur. Excepteur sint occaecat cupidatat-->
<!--												non proident, sunt in culpa qui officia deserunt mollit-->
<!--												anim id est laborum.-->
<!--											</p>-->
<!--											<p>-->
<!--												Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--												elit, sed do eiusmod tempor incididunt ut labore et-->
<!--												dolore magna aliqua. Ut enim ad minim veniam, quis-->
<!--												nostrud exercitation ullamco laboris nisi ut aliquip ex-->
<!--												ea commodo consequat. Duis aute irure dolor in-->
<!--												reprehenderit in voluptate velit esse cillum dolore eu-->
<!--												fugiat nulla pariatur. Excepteur sint occaecat cupidatat-->
<!--												non proident, sunt in culpa qui officia deserunt mollit-->
<!--												anim id est laborum.-->
<!--											</p>-->
<!--											<h5 class="mb-10">Unordered List</h5>-->
<!--											<ul>-->
<!--												<li>-->
<!--													Duis aute irure dolor in reprehenderit in voluptate.-->
<!--												</li>-->
<!--												<li>-->
<!--													Sunt in culpa qui officia deserunt mollit anim id est-->
<!--													laborum.-->
<!--												</li>-->
<!--												<li>-->
<!--													Ut enim ad minim veniam, quis nostrud exercitation-->
<!--													ullamco laboris.-->
<!--												</li>-->
<!--												<li>-->
<!--													Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--													elit.-->
<!--												</li>-->
<!--												<li>-->
<!--													Duis aute irure dolor in reprehenderit in voluptate.-->
<!--												</li>-->
<!--												<li>-->
<!--													Sunt in culpa qui officia deserunt mollit anim id est-->
<!--													laborum.-->
<!--												</li>-->
<!--												<li>-->
<!--													Ut enim ad minim veniam, quis nostrud exercitation-->
<!--													ullamco laboris.-->
<!--												</li>-->
<!--												<li>-->
<!--													Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--													elit.-->
<!--												</li>-->
<!--											</ul>-->
<!--											<h5 class="mb-10">Ordered List</h5>-->
<!--											<ol>-->
<!--												<li>-->
<!--													Duis aute irure dolor in reprehenderit in voluptate.-->
<!--												</li>-->
<!--												<li>-->
<!--													Sunt in culpa qui officia deserunt mollit anim id est-->
<!--													laborum.-->
<!--												</li>-->
<!--												<li>-->
<!--													Ut enim ad minim veniam, quis nostrud exercitation-->
<!--													ullamco laboris.-->
<!--												</li>-->
<!--												<li>-->
<!--													Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--													elit.-->
<!--												</li>-->
<!--												<li>-->
<!--													Duis aute irure dolor in reprehenderit in voluptate.-->
<!--												</li>-->
<!--												<li>-->
<!--													Sunt in culpa qui officia deserunt mollit anim id est-->
<!--													laborum.-->
<!--												</li>-->
<!--												<li>-->
<!--													Ut enim ad minim veniam, quis nostrud exercitation-->
<!--													ullamco laboris.-->
<!--												</li>-->
<!--												<li>-->
<!--													Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--													elit.-->
<!--												</li>-->
											</ol>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="card-box mb-30">
										<h5 class="pd-20 h5 mb-0">Categories</h5>
										<div class="list-group">
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>HTML
												<span class="badge badge-primary badge-pill">7</span></a
											>
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>Css
												<span class="badge badge-primary badge-pill"
													>10</span
												></a
											>
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between active"
												>Bootstrap
												<span class="badge badge-primary badge-pill">8</span></a
											>
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>jQuery
												<span class="badge badge-primary badge-pill"
													>15</span
												></a
											>
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>Design
												<span class="badge badge-primary badge-pill">5</span></a
											>
										</div>
									</div>
									<div class="card-box mb-30">
										<h5 class="pd-20 h5 mb-0">Latest Post</h5>
										<div class="latest-post">
											<ul>
												<li>
													<h4>
														<a href="#"
															>Ut enim ad minim veniam, quis nostrud
															exercitation ullamco</a
														>
													</h4>
													<span>HTML</span>
												</li>
												<li>
													<h4>
														<a href="#"
															>Lorem ipsum dolor sit amet, consectetur
															adipisicing elit</a
														>
													</h4>
													<span>Css</span>
												</li>
												<li>
													<h4>
														<a href="#"
															>Ut enim ad minim veniam, quis nostrud
															exercitation ullamco</a
														>
													</h4>
													<span>jQuery</span>
												</li>
												<li>
													<h4>
														<a href="#"
															>Lorem ipsum dolor sit amet, consectetur
															adipisicing elit</a
														>
													</h4>
													<span>Bootstrap</span>
												</li>
												<li>
													<h4>
														<a href="#"
															>Lorem ipsum dolor sit amet, consectetur
															adipisicing elit</a
														>
													</h4>
													<span>Design</span>
												</li>
											</ul>
										</div>
									</div>
									<div class="card-box overflow-hidden">
										<h5 class="pd-20 h5 mb-0">Archives</h5>
										<div class="list-group">
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>January 2020</a
											>
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>February 2020</a
											>
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>March 2020</a
											>
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>April 2020</a
											>
											<a
												href="#"
												class="list-group-item d-flex align-items-center justify-content-between"
												>May 2020</a
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-wrap pd-20 mb-20 card-box">
					DeskApp - Bootstrap 4 Admin Template By
					<a href="https://github.com/dropways" target="_blank"
						>Ankit Hingarajiya</a
					>
				</div>
			</div>
		</div>
<!--		&lt;!&ndash; welcome modal start &ndash;&gt;-->
<!--		<div class="welcome-modal">-->
<!--			<button class="welcome-modal-close">-->
<!--				<i class="bi bi-x-lg"></i>-->
<!--			</button>-->
<!--			<iframe-->
<!--				class="w-100 border-0"-->
<!--				src="https://embed.lottiefiles.com/animation/31548"-->
<!--			></iframe>-->
<!--			<div class="text-center">-->
<!--				<h3 class="h5 weight-500 text-center mb-2">-->
<!--					Open source-->
<!--					<span role="img" aria-label="gratitude">❤️</span>-->
<!--				</h3>-->
<!--				<div class="pb-2">-->
<!--					<a-->
<!--						class="github-button"-->
<!--						href="https://github.com/dropways/deskapp"-->
<!--						data-color-scheme="no-preference: dark; light: light; dark: light;"-->
<!--						data-icon="octicon-star"-->
<!--						data-size="large"-->
<!--						data-show-count="true"-->
<!--						aria-label="Star dropways/deskapp dashboard on GitHub"-->
<!--						>Star</a-->
<!--					>-->
<!--					<a-->
<!--						class="github-button"-->
<!--						href="https://github.com/dropways/deskapp/fork"-->
<!--						data-color-scheme="no-preference: dark; light: light; dark: light;"-->
<!--						data-icon="octicon-repo-forked"-->
<!--						data-size="large"-->
<!--						data-show-count="true"-->
<!--						aria-label="Fork dropways/deskapp dashboard on GitHub"-->
<!--						>Fork</a-->
<!--					>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="text-center mb-1">-->
<!--				<div>-->
<!--					<a-->
<!--						href="https://github.com/dropways/deskapp"-->
<!--						target="_blank"-->
<!--						class="btn btn-light btn-block btn-sm"-->
<!--					>-->
<!--						<span class="text-danger weight-600">STAR US</span>-->
<!--						<span class="weight-600">ON GITHUB</span>-->
<!--						<i class="fa fa-github"></i>-->
<!--					</a>-->
<!--				</div>-->
<!--				<script-->
<!--					async-->
<!--					defer="defer"-->
<!--					src="https://buttons.github.io/buttons.js"-->
<!--				></script>-->
<!--			</div>-->
<!--			<a-->
<!--				href="https://github.com/dropways/deskapp"-->
<!--				target="_blank"-->
<!--				class="btn btn-success btn-sm mb-0 mb-md-3 w-100"-->
<!--			>-->
<!--				DOWNLOAD-->
<!--				<i class="fa fa-download"></i>-->
<!--			</a>-->
<!--			<p class="font-14 text-center mb-1 d-none d-md-block">-->
<!--				Available in the following technologies:-->
<!--			</p>-->
<!--			<div class="d-none d-md-flex justify-content-center h1 mb-0 text-danger">-->
<!--				<i class="fa fa-html5"></i>-->
<!--			</div>-->
<!--		</div>-->
<!--		<button class="welcome-modal-btn">-->
<!--			<i class="fa fa-download"></i> Download-->
<!--		</button>-->
<!--		&lt;!&ndash; welcome modal end &ndash;&gt;-->
		<!-- js -->
		<script src="vendors/scripts/core.js"></script>
		<script src="vendors/scripts/script.min.js"></script>
		<script src="vendors/scripts/process.js"></script>
		<script src="vendors/scripts/layout-settings.js"></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
